@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


/* Fonts to match Figma */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=EB+Garamond:wght@400;500;600&display=swap');

:root {
	--fd-bg: #E8E8E8;
	--fd-text: #000000;
}

html,
body,
#root {
	min-height: 100%;
	background: #0000001A;
	overflow-x: hidden;
	max-width: 100vw;
}