@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
	--fd-bg: #E8E8E8;
	--fd-text: #000000;
}

@layer base {
	html, body, #root {
		font-family: Inter, ui-sans-serif, system-ui, sans-serif;
		letter-spacing: 0;
		line-height: 1.2;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: "Playfair Display", Georgia, serif;
		letter-spacing: 0;
		line-height: 1.2;
	}
}

html,
body,
#root {
	min-height: 100%;
	background: #0000001A;
	overflow-x: hidden;
	max-width: 100vw;
}